
h1{
text-decoration:underline;
color:brown;
text-align:center;
background-color:gainsboro;
}
body{
    background-color:moccasin;
    background-image:url("image/silverware.jpg");
}
h3{
    text-align:left;
    text-decoration:underline;
    background-color:gainsboro;
    text-decoration-style: solid;
    color:brown;
}
.comment{
    background-color:yellow;
}
#header{
    text-align:center;
}